nav.barra4{
    background-color: rgba(236, 217, 41, 0.75);
  border-bottom: 3px solid gold;
  margin-top:15px;
   
    
}

/* a {color:black;} 
a:visited {color:black;} 
a:active {color:black;} 
a:hover {color: black;} */

div.texto{
    padding: 50px;
    margin: auto;
    padding: 10px;
    height: 50vh;
    margin:auto;
    background-color: lightgray;
    opacity: 90%;
    text-align: center;
    
}
div.formulario{
    
    text-align: center;
    padding: 10px;
    
    height: 50vh;

    background-color: lightgrey;
    opacity:  95%;
    margin: auto;

    
    

}
button.emp{
    background-color: rgba(218, 165, 32, 0.7);
}

div.contenido{
    padding: 50px;
    margin: auto;
    padding: 10px;
    background-color: lightgray;
    opacity: 90%;
  
}
div.datos{
    padding: 20PX;
    height: 20vh;
}
div.card{
    width: 18rem;
    display: inline-block;
}

footer.pie4{
    background-color:  rgba(236, 217, 41, 0.75);
    height: 50px;
    padding-top: 35px;
    padding-bottom: 10px;
    opacity: 80%;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 80%;
   
}
Form {
    text-align: center;
    padding: 30px;
    margin: 30px;
  }