nav.barra3{
    background-color: rgba(250, 71, 71, 0.548);
    border-bottom: solid rgb(201, 59, 59) 3px;
}


div.content p::first-letter {
    font-size: 2.5em;
    color: rgb(201, 59, 59); }

div.content li::first-letter {
    font-size: 2em;
    color:  rgb(201, 59, 59);
}
div.lateral{
    text-align: center;
    height: 80vh;
   padding: 15px;
   
    
}

div.content{
    padding: 15px;
    background-color: white;
    font-size: 20px;    
    margin-top: 15px;
}
Map.mapa{
    width: 750px;
    height: 250px;
}
button.categ{
    background-color: rgba(145, 145, 145, 0.548) ;
}
button.categ:hover{
    background-color:rgba(250, 71, 71, 0.548);
    color: black;
}



footer.pie3{
    background-color:  rgba(250, 71, 71, 0.548);
    height: 50px;
    padding-top: 35px;
    padding-bottom: 10px;
    opacity: 80%;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 80%;
}
