div.fondo2{
    background-image: url(../fondo2.jpg);
 width: 100%;
    height: 10vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 50px; 
    border: solid 2px black;
    opacity: 90%;
    
}
img.logo {
    
    height: 10vh;
    margin: 5px;
}
div.fondo3{
 width: 100%;
    height: 10vh;
    background-color: white;
}
div.titulo2{
    background-color: white;
    opacity: 80%;
}
div.subportada2{
    background-color: white;
    opacity: 80%;
}



div.tea{
    padding: 25px;
    
    
}
div.juego{
    padding: 10px;
    margin: auto;
    
    opacity: 90%;
    
    text-align: center;
    
}

div.volver1{
    width: 100%;
    padding: 15px;
    text-align: center;
    
}

button.volver1:hover{
    background-color: rgb(14, 207, 221);
}

button.volver1{
    border: solid 2px rgba(14, 207, 221, 0.5);
    background-color: rgba(14, 207, 221, 0.5);
    display: inline-block;
    font-size: 15px;
margin: 0;
    
}

button.green{

    background-color:rgba(14, 207, 221, 0.5);
}
input.buscar{
    background-color:rgba(14, 207, 221, 0.5) ;

    height: 50px;
    width: 400px;
    font-size: 30px;
}
table.lista{
    font-size: 30px;
    text-align:center;
}
footer.pie2{
    background-color:  rgba(14, 207, 221, 0.5);
    height: 50px;
    padding-top: 35px;
    padding-bottom: 10px;
    opacity: 80%;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 80%;
   
}
footer.pie21{
    background-color:  rgba(14, 207, 221, 0.5);
    height: 50px;
    padding-top: 35px;
    padding-bottom: 10px;
    opacity: 80%;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 80%;
   
}
button.botontea{
    background-color:  rgba(14, 207, 221, 0.5);
    font-size:30px;
}



    