body{
    background-color: rgb(233, 233, 233);
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    
}

div.fondo{
    background-image: url(./fondo2.jpg);
 width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    display: flex;
    justify-content: center;
align-items: center;
    text-align: center;
    
    
}
div.logo{
    background-image: url(./logo3.png);
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}

div.portada{
    text-align: center;
    font-family: 'Staatliches', cursive;
    background-color: white;
    opacity: 75%;

    
}

div.subportada{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}

nav.barra2{
    background-color: rgba(14, 207, 221, 0.5);
  
    border-bottom: solid 3px rgba(11, 175, 187, 0.9);
    margin-top: 15px;
}

nav.barra3{
    background-color: rgba(14, 207, 221, 0.5);
    margin-top: 15px;
    border-bottom: solid 3px rgba(11, 175, 187, 0.9);
}

nav.barra5{
    background-color: grey;
    margin-top: 15px;
    border-bottom: solid 3px darkgrey;
}

footer.pie{
    background-color: rgb(0, 0, 0);
    height: 50px;
    padding-top: 35px;
    padding-bottom: 10px;
    opacity: 80%;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 75%;
   
}

footer.pie5{
    background-color: gray;
    height: 50px;
    padding-top: 35px;
    padding-bottom: 10px;
    opacity: 80%;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 75%;
   
}
div.carrusel{
    padding: 15px; 
    margin: auto;
    display: flex;
    justify-content: center;
 }
 
 div.carrusel img{
   height: 25vh;
   
 
 }
 div.redes{
   margin-bottom: 10px;
   padding-bottom: 15px;
   font-size: 25px;
    }
 i.ic{
    margin: 10px;
    
 }

 div.fondo img{
     width: 130px;
     
 }
 button.idio{
     border-radius: 30px;
     height: 30px;
     display: flex;
     align-items: center;
   
 }