
nav.barra1{
    background-color: black;
    opacity:75%;
    
}





button.inicio1{
    background-color: white;
    
    color: black;
    opacity: 90%;
    margin: 5px;
    
}
button.inicio1:hover{
    background-color: rgb(14, 226, 241);
}
button.inicio2{
    background-color: white;
   
    color: black;
    opacity: 90%;
    margin: 5px;
    
}

button.inicio2:hover{
    background-color: rgb(250, 71, 71);
}
button.inicio3{
    background-color: white;

    color: black;
    margin: 5px;
    opacity: 90%;
    
}
button.inicio3:hover{
    background-color: rgb(236, 217, 41);
}
button.inicio1 a{
    color:black
}
button.inicio2 a{
    color:black
}
button.inicio3 a{
    color:black
}